################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Modul4/x64/Debug
/.vs/Modul4
/Modul4.sln
